<div class="grid md:grid-cols-2 gap-4">
  <div class="flex order-last md:order-first flex-wrap items-center justify-center md:justify-start">
    <p class="text-white flex flex-wrap items-center text-sm lg:text-base">&copy; 2022 Sinp. Made with  <i class="icon-heart mx-2 text-orange"></i> by<a href="#" class="ml-1 transition hover:text-orange">Codecarnival</a>.</p>
  </div>

  <div class="flex flex-wrap items-center justify-center md:justify-end">
    <a href="#">
      <img class="w-full h-full" src="assets/images/logo/payment.webp" alt="payment logo" loading="lazy" width="286" height="23" />
    </a>
  </div>
</div>
