<!-- offcanvas-mobile-menu start -->
<div id="offcanvas-mobile-menu-desk" class="offcanvas left-0 right-auto  transform -translate-x-full fixed font-normal text-sm top-0 z-50 h-screen w-80 transition-all ease-in-out duration-300 bg-white">

  <div class="px-8 py-12 h-5/6 overflow-y-auto">

    <!-- search form start -->

    <div class="logo pt-24 mb-12"><a href="index.html"><img src="assets/images/logo/logo.webp" alt="logo" loading="lazy" width="125" height="45" /></a></div>
    <!-- search form end -->

    <!-- close button start -->
    <button class="offcanvas-close text-black absolute right-4 top-4 text-md hover:text-orange transition-all"><i class="icon-close"></i></button>
    <!-- close button end -->

    <!-- offcanvas-menu start -->
  
    <nav class="offcanvas-menu pb-10">
      <ul>
        <li class="relative block">
          <a href="#" class="block capitalize font-normal text-base my-2 py-1 font-roboto">Home</a>
          <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
            <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="index.html">Airpod</a></li>
            <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="index-2.html">Smartwatch</a></li>
            <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="index-3.html">Drone</a></li>
            <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="index-4.html">BackPack</a></li>
          </ul>
        </li>
        <li class="relative block">
          <a href="#" class="block capitalize font-normal text-base my-2 py-1 font-roboto">Shop</a>
          <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">Shop Grid</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-grid-3-column.html">Shop Grid 3 Column</a>
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a>
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-grid-right-sidebar.html">shop Grid Right Sidebar</a>
                </li>

              </ul>
            </li>
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">shop list</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-list.html">Shop List</a></li>
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="shop-list-right-sidebar.html">Shop List right Sidebar</a></li>
              </ul>
            </li>
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">blogs</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-3-column.html">Blog Grid 3 Column</a></li>
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-2-column.html">Blog Grid 2 Column</a></li>
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                <li><a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>

              </ul>
            </li>
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">Product Types</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="single-product.html">Shop Single</a></li>
                <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="single-product-configurable.html">Shop Variable</a></li>
                <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="single-product-affiliate.html">Shop Affiliate</a></li>
                <li><a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="single-product-group.html">Shop Group</a></li>

              </ul>
            </li>
          </ul>
        </li>
        <li class="relative block">
          <a href="#" class="block capitalize font-normal text-base my-2 py-1 font-roboto">Blog</a>
          <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">Blog Grid</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-3-column.html">Blog Grid 3 column</a>
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-4-column.html">Blog Grid 4 column</a>
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-left-sidebar.html"
                    >Blog Grid Left Sidebar</a
                  >
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-grid-right-sidebar.html"
                    >Blog Grid Right Sidebar</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="text-sm py-2 px-4 text-dark font-light block font-roboto transition-all hover:text-orange" href="#">Blog List</a>
              <ul class="offcanvas-submenu static top-auto hidden w-full visible opacity-100">
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-list-left-sidebar.html"
                    >Blog List Left Sidebar</a
                  >
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-list-right-sidebar.html"
                    >Blog List Right Sidebar</a
                  >
                </li>
                <li>
                  <a class="text-sm pt-3 px-10 pb-1 text-dark font-light block font-roboto transition-all hover:text-orange" href="blog-details.html"
                    >Blog details</a
                  >
                </li>
              </ul>
            </li>
            
          </ul>
        </li>
        <li class="relative block"><a href="about-us.html" class="relative block capitalize font-normal text-base my-2 py-1 font-roboto">about Us</a></li>
        <li class="relative block"><a href="contact.html" class="relative block capitalize font-normal text-base my-2 py-1 font-roboto">Contact Us</a></li>
      </ul>
    </nav>
    <!-- offcanvas-menu end -->


    <div class="flex flex-wrap items-center justify-start">
      <a href="#" class="text-md text-facebook hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2  before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"><i class="icon-social-facebook"></i></a>
      <a href="#" class="text-md text-twitter hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2  before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"><i class="icon-social-twitter"></i></a>
      <a href="#" class="text-md text-dribbble hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2  before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"><i class="icon-social-instagram"></i></a>
      <a href="#" class="text-md text-pinterest hover:text-dark leading-none transition"><i class="icon-social-youtube"></i></a>
  </div>
  </div>
</div>
<!-- offcanvas-mobile-menu end -->
