<section class="relative -m-4">
  <div class="service-carousel overflow-hidden p-4">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="text-center">
          <img class="block mx-auto mb-6" src="assets/images/service/service1.webp" alt="service image" loading="lazy" width="80" height="80"/>
          <h3><a href="#" class="block text-base md:text-md hover:text-orange transition-all font-medium">Remote Control</a></h3>
          <p class="font-normal text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ut!</p>
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="text-center">
          <img class="block mx-auto mb-6" src="assets/images/service/service2.webp" alt="service image" loading="lazy" width="80" height="80"/>
          <h3><a href="#" class="block text-base md:text-md hover:text-orange transition-all font-medium">HD Microphone</a></h3>
          <p class="font-normal text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ut!</p>
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="text-center">
          <img class="block mx-auto mb-6" src="assets/images/service/service3.webp" alt="service image" loading="lazy" width="80" height="80"/>
          <h3><a href="#" class="block text-base md:text-md hover:text-orange transition-all font-medium">Power Bank</a></h3>
          <p class="font-normal text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ut!</p>
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="text-center">
          <img class="block mx-auto mb-6" src="assets/images/service/service4.webp" alt="service image" loading="lazy" width="80" height="80"/>
          <h3><a href="#" class="block text-base md:text-md hover:text-orange transition-all font-medium">Memory Card</a></h3>
          <p class="font-normal text-black text-sm mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ut!</p>
        </div>
      </div>
      <!-- swiper-slide end-->
      </div>
    </div>

    <!-- Add Pagination -->

    <!-- <div class="swiper-pagination"></div> -->

    <!-- swiper navigation -->

        <div class="swiper-buttons">
          <div class="swiper-button-prev right-auto left-2 md:-left-2  w-12 h-12 rounded-full bg-white border border-solid border-gray-600 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
          <div class="swiper-button-next left-auto right-2 md:-right-2  w-12 h-12 rounded-full bg-white border border-solid border-gray-600 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
      </div>
  </div>
</section>



