<!-- countdown start -->

<div class="relative py-4 p-4 before:absolute before:w-full before:empty before:block before:h-full before:z-10 before:shadow-deal before:inset-x-2 before:top-2 after:absolute after:w-full after:empty after:block after:h-full after:z-10 after:shadow-deal after:inset-x-3 after:top-3 mb-12">
    <div class="countdown item-1 flex flex-wrap justify-center pt-4" data-countdown="2022/11/20" data-format="short">
        <div class="countdown__item flex flex-wrap items-baseline flex-col sm:flex-row mr-5">
            <span class="countdown__time mr-1 text-lg lg:text-4xl text-dark font-500 daysLeft"></span>
            <span class="countdown__text capitalize text-base text-dark font-400 daysText"></span>
        </div>
        <div class="countdown__item flex flex-wrap items-baseline flex-col sm:flex-row mr-5">
            <span class="countdown__time mr-1 text-lg lg:text-4xl text-dark font-500 hoursLeft"></span>
            <span class="countdown__text capitalize text-base text-dark font-400 hoursText"></span>
        </div>
        <div class="countdown__item flex flex-wrap items-baseline flex-col sm:flex-row mr-5">
            <span class="countdown__time mr-1 text-lg lg:text-4xl text-dark font-500 minsLeft"></span>
            <span class="countdown__text capitalize text-base text-dark font-400 minsText"></span>
        </div>
        <div class="countdown__item flex flex-wrap items-baseline flex-col sm:flex-row">
            <span class="countdown__time mr-1 text-lg lg:text-4xl text-dark font-500 secsLeft"></span>
            <span class="countdown__text capitalize text-base text-dark font-400 secsText"></span>
        </div>
    </div>
</div>
<!-- countdown end -->

