<section class="relative -m-4">
  <div class="product-carousel overflow-hidden p-4">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="border border-solid border-gray-300 transition-all hover:shadow-product group">
          <div class="relative overflow-hidden">
            <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-3 right-3">Sale</span>
            <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-10 right-3">-11%</span>
            <img class="w-full h-full"  src="assets/images/products/lg/product3.webp" alt="product image" loading="lazy" width="432" height="480"/>
          <!-- actions start -->

            <div class="absolute left-2/4 top-2/4 transform -translate-x-2/4 -translate-y-2/4 z-10">
              <ul class="flex items-center justify-center bg-white shadow rounded-full h-0 transition-all group-hover:h-16 duration-500 overflow-hidden">
                <li class="py-4 pl-7 md:py-5 md:pl-8">
                  <a href="#modal-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Quick View"  aria-label="Quick View">
                    <i class="icon-magnifier"></i>
                  </a>
                </li>
                <li class="py-4 pl-7 md:py-5 md:pl-8">
                  <a href="whishlist.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Add to wishlist" aria-label="wishlist">
                    <i class="icon-heart"></i>
                  </a>
                </li>
                <li class="py-4 pl-7 md:py-5 md:pl-8">
                  <a href="compare.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Compare" aria-label="Compare">
                    <i class="icon-refresh"></i>
                  </a>
                </li>
                <li class="py-4 pl-7 pr-7 md:py-5 md:pl-8 md:pr-8">
                  <a href="#modal-addto-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" aria-label="add to cart" data-tippy-content="Add to cart">
                    <i class="icon-bag"></i>
                  </a>
                </li>
              </ul>
            </div>

          <!-- actions end -->


        <!-- variants start -->

            <div class="p-2 bg-gray-200 shadow absolute left-2 right-2 -bottom-40 group-hover:bottom-2 z-20 transition-all duration-500 ease-linear">
              <ul class="flex flex-wrap items-center justify-center mb-3">
                <li class="mx-1 leading-none"><button class="text-sm">sm</button></li>
                <li class="mx-1 leading-none"><button class="text-sm">l</button></li>
                <li class="mx-1 leading-none"><button class="text-sm">m</button></li>
                <li class="mx-1 leading-none"><button class="text-sm">xl</button></li>
                <li class="mx-1 leading-none"><button class="text-sm">xxl</button></li>
              </ul>
              <ul class="flex flex-wrap items-center justify-center">
                <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-orange" aria-label="colors"></button></li>
                <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-primary" aria-label="variants"></button></li>
                <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-indigo-600" aria-label="variants"></button></li>
                <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-dark" aria-label="variants"></button></li>
              </ul>
            </div>

            <!-- variants end -->
          </div>

          <div class="py-5 px-4">
            <ul class="mb-3 text-sm capitalize">
              <li class="flex flex-wrap items-center justify-between"><span><span>Sold: </span><span class="text-orange">10</span></span> <span><span>Available: </span> <span class="text-orange">12</span> </span></li>
            </ul>
            <div class="h-2 bg-gray-600 rounded">
              <div class="h-full bg-orange rounded-l" aria-label="progress bar" role="progressbar" style="width:83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h3 class="mt-4"><a class="block text-base hover:text-orange transition-all" href="single-product.html">Airpod product ides</a></h3>
            <h4 class="font-bold text-md leading-none text-orange mt-3"><del class="font-normal text-sm mr-1 inline-block">$110.00</del>$130.00</h4>
          </div>
        </div>

      </div>
      <!-- swiper-slide end-->
        <!-- swiper-slide start -->
        <div class="swiper-slide">
          <div class="border border-solid border-gray-300 transition-all hover:shadow-product group">

            <!-- tab-contents start -->

            <div id="tab1" class="relative overflow-hidden">
              <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-3 left-3">New</span>
              <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-3 right-3">Sale</span>
            <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-10 right-3">-11%</span>
              <div class="tab-contents">
                <div id="product1" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product5.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product2" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product2.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product3" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product3.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
            </div>

            <!-- tab-contents end -->

             <!-- actions start -->

              <div class="absolute left-2/4 top-2/4 transform -translate-x-2/4 -translate-y-2/4 z-10">
                <ul class="flex items-center justify-center bg-white shadow rounded-full h-0 transition-all group-hover:h-16 duration-500 overflow-hidden">
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="#modal-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Quick View" aria-label="Quick View">
                      <i class="icon-magnifier"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="whishlist.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Add to wishlist" aria-label="Add to wishlist">
                      <i class="icon-heart"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="compare.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Compare" aria-label="compare">
                      <i class="icon-refresh"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 pr-7 md:py-5 md:pl-8 md:pr-8">
                    <a href="#modal-addto-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Add to cart" aria-label="Add to cart">
                      <i class="icon-bag"></i>
                    </a>
                  </li>
                </ul>
              </div>

            <!-- actions end -->

          <!-- tabs nav start -->

             <div class="p-2 bg-gray-200 shadow absolute left-2 right-2 -bottom-40 group-hover:bottom-2 z-20 transition-all duration-500 ease-linear">
              <ul class="tab-nav flex flex-wrap items-center justify-center">
                <li class="mx-1"><a href="#product1" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product5.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product2" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product2.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product3" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product3.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
            </ul>
             </div>
           <!-- tabs nav end -->
            </div>
  
            <div class="py-5 px-4">
              <ul class="mb-3 text-sm capitalize">
                <li class="flex flex-wrap items-center justify-between"><span><span>Sold: </span><span class="text-orange">10</span></span> <span><span>Available: </span> <span class="text-orange">12</span> </span></li>
              </ul>
              <div class="h-2 bg-gray-600 rounded">
                <div class="h-full bg-orange rounded-l" aria-label="progress bar" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h3 class="mt-4"><a class="block text-base hover:text-orange transition-all" href="single-product.html">Airpod product kiebd</a></h3>
              <h4 class="font-bold text-md leading-none text-orange mt-3"><del class="font-normal text-sm mr-1 inline-block">$110.00</del>$130.00</h4>
            </div>
            
          </div>

        </div>
        <!-- swiper-slide end-->

        <!-- swiper-slide start -->
        <div class="swiper-slide">
          <div class="border border-solid border-gray-300 transition-all hover:shadow-product group">
            
            <!-- tab-contents start -->

            <div id="tab2" class="relative overflow-hidden">
              <div class="tab-contents">
                <div id="product4" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product2.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product5" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product1.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product6" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product3.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product7" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product4.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
                <div id="product8" class="tab-content">
                  <img class="w-full h-full"  src="assets/images/products/lg/product5.webp" alt="product image" loading="lazy" width="432" height="480"/>
                </div>
            </div>

            <!-- tab-contents end -->

             <!-- actions start -->

              <div class="absolute left-2/4 top-2/4 transform -translate-x-2/4 -translate-y-2/4 z-10">
                <ul class="flex items-center justify-center bg-white shadow rounded-full h-0 transition-all group-hover:h-16 duration-500 overflow-hidden">
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="#modal-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Quick View" aria-label="Quick View">
                      <i class="icon-magnifier"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="whishlist.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Add to wishlist" aria-label="Add to wishlist">
                      <i class="icon-heart"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="compare.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Compare" aria-label="compare">
                      <i class="icon-refresh"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 pr-7 md:py-5 md:pl-8 md:pr-8">
                    <a href="#modal-addto-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Add to cart" aria-label="Add to cart">
                      <i class="icon-bag"></i>
                    </a>
                  </li>
                </ul>
              </div>

            <!-- actions end -->

          <!-- tabs nav start -->

             <div class="p-2 bg-gray-200 shadow absolute left-2 right-2 -bottom-40 group-hover:bottom-2 z-20 transition-all duration-500 ease-linear">
              <ul class="tab-nav flex flex-wrap items-center justify-center">
                <li class="mx-1"><a href="#product4" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product2.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product5" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product1.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product6" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product3.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product7" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product4.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
                <li class="mx-1"><a href="#product8" class="w-8 h-8 overflow-hidden rounded-full block"><img  src="assets/images/products/sm/product5.webp" alt="product image" loading="lazy" width="45" height="50"/></a></li>
            </ul>
             </div>
           <!-- tabs nav end -->
            </div>
  
            <div class="py-5 px-4">
              <ul class="mb-3 text-sm capitalize">
                <li class="flex flex-wrap items-center justify-between"><span><span>Sold: </span><span class="text-orange">10</span></span> <span><span>Available: </span> <span class="text-orange">12</span> </span></li>
              </ul>
              <div class="h-2 bg-gray-600 rounded">
                <div class="h-full bg-orange rounded-l" aria-label="progress bar" role="progressbar" style="width:45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h3 class="mt-4"><a class="block text-base hover:text-orange transition-all" href="single-product.html">Birpod product unsde</a></h3>
              <h4 class="font-bold text-md leading-none text-orange mt-3"><del class="font-normal text-sm mr-1 inline-block">$110.00</del>$130.00</h4>
            </div>
          </div>

        </div>
        <!-- swiper-slide end-->

         <!-- swiper-slide start -->
         <div class="swiper-slide">
          <div class="border border-solid border-gray-300 transition-all hover:shadow-product group">
            <div class="relative overflow-hidden">
              <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-3 left-3">New</span>
              <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-3 right-3">Sale</span>
            <span class="font-bold uppercase text-sm text-black inline-block py-1 px-2 leading-none absolute top-10 right-3">-11%</span>
              <img class="w-full h-full"  src="assets/images/products/lg/product3.webp" alt="product image" loading="lazy" width="432" height="480"/>
             <!-- actions start -->

              <div class="absolute left-2/4 top-2/4 transform -translate-x-2/4 -translate-y-2/4 z-10">
                <ul class="flex items-center justify-center bg-white shadow rounded-full h-0 transition-all group-hover:h-16 duration-500 overflow-hidden">
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="#modal-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Quick View" aria-label="Quick View">
                      <i class="icon-magnifier"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="whishlist.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Add to wishlist" aria-label="Add to wishlist">
                      <i class="icon-heart"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 md:py-5 md:pl-8">
                    <a href="compare.html" class="text-dark flex items-center justify-center text-md hover:text-orange" data-tippy-content="Compare" aria-label="compare">
                      <i class="icon-refresh"></i>
                    </a>
                  </li>
                  <li class="py-4 pl-7 pr-7 md:py-5 md:pl-8 md:pr-8">
                    <a href="#modal-addto-cart" class="text-dark flex items-center justify-center text-md hover:text-orange modal-toggle" data-tippy-content="Add to cart" aria-label="Add to cart">
                      <i class="icon-bag"></i>
                    </a>
                  </li>
                </ul>
              </div>

            <!-- actions end -->


          <!-- variants start -->

              <div class="p-2 bg-gray-200 shadow absolute left-2 right-2 -bottom-40 group-hover:bottom-2 z-20 transition-all duration-500 ease-linear">
                <ul class="flex flex-wrap items-center justify-center mb-3">
                  <li class="mx-1 leading-none"><button class="text-sm">sm</button></li>
                  <li class="mx-1 leading-none"><button class="text-sm">l</button></li>
                  <li class="mx-1 leading-none"><button class="text-sm">m</button></li>
                  <li class="mx-1 leading-none"><button class="text-sm">xl</button></li>
                  <li class="mx-1 leading-none"><button class="text-sm">xxl</button></li>
                </ul>
                <ul class="flex flex-wrap items-center justify-center">
                  <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-orange" aria-label="colors"></button></li>
                  <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-primary" aria-label="variants"></button></li>
                  <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-indigo-600" aria-label="variants"></button></li>
                  <li class="mx-1 leading-none"><button class="w-4 h-4 rounded-full bg-dark" aria-label="variants"></button></li>
                </ul>
              </div>

              <!-- variants end -->
            </div>
  
            <div class="py-5 px-4">
              <ul class="mb-3 text-sm capitalize">
                <li class="flex flex-wrap items-center justify-between"><span><span>Sold: </span><span class="text-orange">10</span></span> <span><span>Available: </span> <span class="text-orange">12</span> </span></li>
              </ul>
              <div class="h-2 bg-gray-600 rounded">
                <div class="h-full bg-orange rounded-l" aria-label="progress bar" role="progressbar" style="width:83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h3 class="mt-4"><a class="block text-base hover:text-orange transition-all" href="single-product.html">New minia nidesd</a></h3>
              <h4 class="font-bold text-md leading-none text-orange mt-3"><del class="font-normal text-sm mr-1 inline-block">$110.00</del>$130.00</h4>
            </div>
          </div>

        </div>
        <!-- swiper-slide end-->
      </div>
    </div>

    <!-- Add Pagination -->

    <!-- <div class="swiper-pagination"></div> -->

    <!-- swiper navigation -->

        <div class="swiper-buttons">
          <div class="swiper-button-prev right-auto left-4  w-12 h-12 rounded-full bg-white border border-solid border-gray-400 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
          <div class="swiper-button-next left-auto right-4  w-12 h-12 rounded-full bg-white border border-solid border-gray-400 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
      </div>
  </div>
</section>



