
<!-- offcanvas-mobile-menu start -->
<div id="offcanvas-cart" class="offcanvas left-auto right-0  transform translate-x-translate-x-full-120 fixed font-normal text-sm top-0 z-50 h-screen w-80 lg:w-96 transition-all ease-in-out duration-300 bg-white overflow-y-auto">
    <div class="p-8">
        <div class="flex flex-wrap justify-between items-center pb-6 mb-6 border-b border-solid border-gray-600">
          <h4 class="font-normal text-md text-dark capitalize">Shoping Cart</h4>
         <button class="offcanvas-close hover:text-orange" aria-label="close icon"><i class="icon-close"></i></button>
        </div>
        <ul class="h-96 overflow-y-auto">
          <li class="flex flex-wrap group mb-8">
            <div class="mr-5 relative">
              <a href="#"
                ><img src="assets/images/cart/product1.webp" alt="product image"
                loading="lazy" width="90" height="100" /></a>
              <button class="absolute top-3 left-3 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-all hover:text-orange"><i class="icon-close"></i></button>
            </div>
            <div class="flex-1">
              <h4>
                <a class="font-light text-sm md:text-base text-dark hover:text-orange transition-all tracking-wide" href="#">Birpod product unsde - m / gold</a>
              </h4>
              <span class="font-light text-sm text-dark transition-all tracking-wide">1 x <span>$80.00</span></span>
            </div>
          </li>
          <li class="flex flex-wrap group mb-8">
            <div class="mr-5 relative">
              <a href="/#"
                ><img src="assets/images/cart/product2.webp" alt="product image" loading="lazy" width="90" height="100"
              /></a>
              <button class="absolute top-3 left-3 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-all hover:text-orange"><i class="icon-close"></i></button>
            </div>
            <div class="flex-1">
              <h4>
                <a class="font-light text-sm md:text-base text-dark hover:text-orange transition-all tracking-wide" href="/#">Airpod product kiebd - red</a>
              </h4>
              <span class="font-light text-sm text-dark transition-all tracking-wide">1 x <span>$99.00</span></span>
            </div>
          </li>
          <li class="flex flex-wrap group mb-8">
            <div class="mr-5 relative">
              <a href="#"
                ><img src="assets/images/cart/product3.webp" alt="product image" loading="lazy" width="90" height="100"
              /></a>
              <button class="absolute top-3 left-3 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-all hover:text-orange"><i class="icon-close"></i></button>
            </div>
            <div class="flex-1">
              <h4>
                <a class="font-light text-sm md:text-base text-dark hover:text-orange transition-all tracking-wide" href="#">Airpod product ides - navy</a>
              </h4>
              <span class="font-light text-sm text-dark transition-all tracking-wide">1 x <span>$39.00</span></span>
            </div>
          </li>
        </ul>
        <div>
          <div class="flex flex-wrap justify-between items-center py-4 my-6 border-t border-b border-solid border-gray-600 font-normal text-base text-dark capitalize">Total:<span>$218.00</span>
          </div>
           <div class="text-center">
            <a class="py-5 px-10 block bg-white border border-solid border-gray-600 uppercase font-semibold text-base hover:bg-orange hover:border-orange hover:text-white transition-all leading-none" href="checkout.html">Checkout</a
                ><a class="py-5 px-10 block bg-white border border-solid border-gray-600 uppercase font-semibold text-base hover:bg-orange hover:border-orange hover:text-white transition-all leading-none mt-3" href="cart.html">View Cart</a>
           </div>
        </div>
      
      </div>
      
</div>
<!-- offcanvas-mobile-menu end -->
