<div>
  <div class="mb-12">
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-10">Search</h4>
    <div class="pro-sidebar-search mb-50 mt-25">
        <form class="border border-solid border-gray-300" action="#" method="get">
            <div class="relative">
                <input class="w-full h-12 text-sm py-4 pl-4 pr-16 bg-white text-dark placeholder-current focus:outline-none" type="search" name="search" placeholder="Search our store">
                <button class="w-12 h-full absolute top-0 right-0 flex items-center justify-center text-dark text-md border-l border-solid border-gray-300" type="submit"><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
  </div>

  
  <div class="mb-12">
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-5">Categories</h4>
    <ul>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-1" type="checkbox">
        <label for="checkbox-1" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Backpack </label>
        <a href="#" class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-300 text-sm hover:text-white
        hover:bg-orange transition-all">9</a>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-2" type="checkbox">
        <label for="checkbox-2" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Headphone </label>
        <a href="#" class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-300 text-sm hover:text-white
        hover:bg-orange transition-all">8</a>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-3" type="checkbox">
        <label for="checkbox-3" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Drone </label>
        <a href="#" class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-300 text-sm hover:text-white
        hover:bg-orange transition-all">7</a>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-4" type="checkbox">
        <label for="checkbox-4" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Fourth option</label>
        <a href="#" class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-300 text-sm hover:text-white
        hover:bg-orange transition-all">7</a>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-5" type="checkbox">
        <label for="checkbox-5" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Smartwatch </label>
        <a href="#" class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-300 text-sm hover:text-white
        hover:bg-orange transition-all">7</a>
      </li>
    </ul>
  </div>

  <div class="mb-12">
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-8">Vendors</h4>

    <ul>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-11" type="checkbox">
        <label for="checkbox-11" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center"> Vendor 1 </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-21" type="checkbox">
        <label for="checkbox-21" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center"> Vendor 10 </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-31" type="checkbox">
        <label for="checkbox-31" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center"> Vendor 11 </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-41" type="checkbox">
        <label for="checkbox-41" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Vendor 12</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-51" type="checkbox">
        <label for="checkbox-51" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">Vendor 2 </label>
      </li>
    </ul>
  </div>

  <div class="mb-12">
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-10">Color</h4>
    <ul>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-12" type="checkbox">
        <label for="checkbox-12" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">red </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-22" type="checkbox">
        <label for="checkbox-22" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">green </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-32" type="checkbox">
        <label for="checkbox-32" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">blue </label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-42" type="checkbox">
        <label for="checkbox-42" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">yellow</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-52" type="checkbox">
        <label for="checkbox-52" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">white </label>
      </li>
    </ul>
  </div>

  <div class="mb-12">
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-10">Size</h4>

    <ul>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-13" type="checkbox">
        <label for="checkbox-13" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">s</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-23" type="checkbox">
        <label for="checkbox-23" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">m</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-33" type="checkbox">
        <label for="checkbox-33" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">l</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-43" type="checkbox">
        <label for="checkbox-43" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">xl</label>
      </li>
      <li class="mb-5 flex justify-between items-center transition-all hover:text-orange">
        <input class="checkbox opacity-0 absolute" id="checkbox-53" type="checkbox">
        <label for="checkbox-53" class="relative cursor-pointer before:empty before:inline-block before:w-5 before:h-5 before:bg-white before:border-2 before:border-solid before:border-gray-300 before:rounded before:mr-4 align-middle flex items-center">xxl</label>
      </li>
    </ul>
  </div>

  <div>
    <h4 class="font-medium text-md lg:text-lg text-dark capitalize mb-10">Tags</h4>

      <ul class="flex flex-wrap -m-1">
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">black</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">blue</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">fiber</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">gold</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">gray</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">green</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">l</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange" >leather</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">m</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">magenta</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">maroon</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">metal</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">navy</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">orange</a></li>
        <li class="m-1"><a href="#" class="bg-gray-light leading-none py-3 px-5 block text-sm transition-all hover:text-white hover:bg-orange">pink</a></li>
      </ul>


  </div>
</div>
