<section class="hero-section relative">
  <div class="hero-slider overflow-hidden">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- swiper-slide start -->
        <div
          class="swiper-slide 2xl:h-screen lg:h-700px xs:h-600px flex flex-wrap items-center px-4 md:px-10 2xl:px-24 py-6 lg:py-0 bg-no-repeat bg-left-top xl:bg-right bg-cover"
          style="background-image: url('assets/images/hero/slide1.webp')"
        >
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <div
                class="slider-content md:max-w-[500px] lg:max-w-[600px] 2xl:max-w-[800px]"
              >
                <span class="text-lg font-normal text-primary block mb-3"
                  >#KaryaWarga</span
                >
                <h1
                  class="font-playfair font-bold text-orange text-3xl sm:text-4xl lg:text-5xl 2xl:text-7xl mb-5"
                >
                  Dari Warga. Oleh Warga.
                  <span class="md:block mt-5"> Untuk Warga.</span>
                </h1>
                <hr class="w-16 h-1 bg-orange mb-7 border-0" />
                <p class="font-normal text-primary text-sm lg:text-md">
                  Diciptakan dari ide warga. Dikembangkan oleh tenaga warga.
                  Digunakan untuk kemaslahatan warga.
                </p>
                <div class="inline-block mt-8 lg:mt-12">
                  <a
                    class="flex flex-wrap items-center bg-primary transition-all hover:bg-orange hover:text-white px-3 md:px-4 xl:px-10 py-3 md:py-4 xl:py-5 rounded-full text-orange capitalize font-medium text-sm lg:text-md leading-normal"
                    href="shop-grid-3-column.html"
                    >Cekidot<i class="icon-basket-loaded ml-3 xl:ml-5"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- swiper-slide end-->

        <!-- swiper-slide start -->
        <div
          class="swiper-slide 2xl:h-screen lg:h-700px xs:h-600px flex flex-wrap items-center px-4 md:px-10 2xl:px-24 py-6 lg:py-0 bg-no-repeat bg-left-top xl:bg-right bg-cover"
          style="background-image: url('assets/images/hero/slide2.webp')"
        >
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <div
                class="slider-content md:max-w-[500px] lg:max-w-[600px] 2xl:max-w-[800px]"
              >
                <span class="text-lg font-normal text-primary block mb-3"
                  >Feel The Rhythm.</span
                >
                <h1
                  class="font-playfair font-bold text-orange text-3xl sm:text-4xl lg:text-5xl 2xl:text-7xl mb-5"
                >
                  Spark Up Your Passion
                  <span class="md:block mt-5">With Good Music.</span>
                </h1>
                <hr class="w-16 h-1 bg-orange mb-7 border-0" />
                <p class="font-normal text-primary text-sm lg:text-md">
                  Experience the decibels like your ears deserve to. Safe for
                  the ears, very for the heart. A treat to your ears.
                </p>
                <div class="inline-block mt-12">
                  <a
                    class="flex flex-wrap items-center bg-primary transition-all hover:bg-orange hover:text-white px-3 md:px-4 xl:px-10 py-3 md:py-4 xl:py-5 rounded-full text-orange capitalize font-medium text-sm lg:text-md leading-normal"
                    href="shop-grid-3-column.html"
                    >Explore More<i class="icon-basket-loaded ml-3 xl:ml-5"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- swiper-slide end-->

        <!-- swiper-slide start -->
        <!-- <div class="swiper-slide 2xl:h-screen lg:h-700px xs:h-600px flex flex-wrap items-center px-4 md:px-10 2xl:px-24 py-6 lg:py-0  bg-no-repeat bg-left-top xl:bg-right bg-cover" style="background-image: url('assets/images/hero/slide3.webp');">
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <div class="slider-content md:max-w-[500px] lg:max-w-[600px] 2xl:max-w-[800px]">
                <span class="text-lg font-normal text-primary block mb-3">Feel The Rhythm.</span>
                <h1 class="font-playfair font-bold text-orange text-3xl sm:text-4xl lg:text-5xl 2xl:text-7xl mb-5">Spark Up Your Passion <span class="md:block mt-5">With Good Music.</span></h1>
                <hr class="w-16 h-1 bg-orange mb-7 border-0">
                <p class="font-normal text-primary text-sm lg:text-md max-w-[700px]">
                  Experience the decibels like your ears deserve to. Safe for
                  the ears, very for the heart. A treat to your ears.
                </p>
                <div class="inline-block mt-12">
                  <a class="flex flex-wrap items-center bg-primary transition-all hover:bg-orange hover:text-white px-3 md:px-4 xl:px-10 py-3 md:py-4 xl:py-5 rounded-full text-orange capitalize font-medium text-sm lg:text-md leading-normal" href="shop-grid-3-column.html">Explore More<i class="icon-basket-loaded ml-3 xl:ml-5"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- swiper-slide end-->
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- swiper navigation -->

    <!--     <div class="hidden">
      <div class="swiper-button-prev">
        <i class="ion-chevron-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="ion-chevron-right"></i>
      </div>
    </div> -->
  </div>
</section>
