<section class="pt-24 pb-24 bg-no-repeat bg-cover bg-center" style="background-image: url('assets/images/banner/bg.webp');">
    <div class="container">
        <div class="w-full flex items-center -mx-4 flex-wrap justify-end px-4">
            <div class="lg:w-2/4 xl:w-2/5">
                <span class="text-md font-normal text-white block mb-8">#Action Feature</span>
                <h2 class="font-playfair font-bold text-white text-4xl lg:text-xl xl:text-5xl mb-10">Ultimate comfort.</h2>
                <hr class="w-16 h-1 bg-white mb-10 border-0">
                <ul>
                    <li class="flex items-center text-white text-md md:text-3xl mb-10">
                        <span class="block text-4xl mr-5"><i class="icofont-bluetooth"></i></span>
                        Smart Connectivity
                    </li>
                    <li class="flex items-center text-white text-md md:text-3xl mb-10">
                        <span class="block text-4xl mr-5"><i class="icofont-battery-full"></i></span>
                        Long lasting battery
                    </li>
                    <li class="flex items-center text-white text-md md:text-3xl mb-10">
                        <span class="block text-4xl mr-5"><i class="icofont-touch"></i></span>
                        Touch Control Panel
                    </li>
                    <li class="flex items-center text-white text-md md:text-3xl mb-10">
                        <span class="block text-4xl mr-5"><i class="icofont-volume-up"></i></span>
                        Volume Up Control
                    </li>
                    <li class="flex items-center text-white text-md md:text-3xl mb-10">
                        <span class="block text-4xl mr-5"><i class="icofont-water-drop"></i></span>
                        Water Dust Proof
                    </li>
                </ul>
                <a href="single-product.html" class="bg-white transition-all hover:bg-orange hover:text-white px-5 md:px-12 py-3 md:py-4 xl:py-4 rounded-full text-orange capitalize font-medium text-sm lg:text-md inline-block leading-normal">Buy Now</a>
            </div>
            </div>
    </div>
  </section>
  