<section class="relative -m-4">
  <div class="blog-carousel overflow-hidden p-4">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="border border-solid border-gray-300 p-[20px] md:p-[30px] group">
          <div class="mb-6">
            <a href="blog-details.html" class="overflow-hidden block">
              <img class="transform group-hover:scale-110 transition-transform duration-500 w-full h-full" src="assets/images/blog/blog9.webp" alt="blog image" loading="lazy" width="600" height="400"/>
            </a>
          </div>
          <h3><a href="blog-details.html" class="block text-base md:text-md hover:text-orange transition-all font-medium mb-[10px]">Radndi mpihs amdh pinsis</a></h3>
          <div class="blog-meta blog-mrg-border">
            <ul class="pb-[10px]">
                <li class="text-sm"><a href="#" class="text-sm text-dark hover:text-orange transition-all">21 April, 2021</a></li>
            </ul>
          </div>

          <p class="font-normal text-black text-sm mb-[25px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
          <a class="bg-white transition-all hover:bg-orange hover:border-orange hover:text-white text-dark capitalize font-medium text-sm inline-block border border-solid border-gray-300 px-8 py-4 leading-none mb-[10px]" href="blog-details.html">blog details</a>
        
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="border border-solid border-gray-300 p-[20px] md:p-[30px] group">
          <div class="mb-6">
            <a href="blog-details.html" class="overflow-hidden block">
              <img class="transform group-hover:scale-110 transition-transform duration-500 w-full h-full" src="assets/images/blog/blog10.webp" alt="blog image" loading="lazy" width="600" height="400"/>
            </a>
          </div>
          <h3><a href="blog-details.html" class="block text-base md:text-md hover:text-orange transition-all font-medium mb-[10px]">Insde drone nihus mpkis</a></h3>
          <div class="blog-meta blog-mrg-border">
            <ul class="pb-[10px]">
                <li class="text-sm"><a href="#" class="text-sm text-dark hover:text-orange transition-all">21 April, 2021</a></li>
            </ul>
          </div>

          <p class="font-normal text-black text-sm mb-[25px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
          <a class="bg-white transition-all hover:bg-orange hover:border-orange hover:text-white text-dark capitalize font-medium text-sm inline-block border border-solid border-gray-300 px-8 py-4 leading-none mb-[10px]" href="blog-details.html">blog details</a>
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="border border-solid border-gray-300 p-[20px] md:p-[30px] group">
          <div class="mb-6">
            <a href="blog-details.html" class="overflow-hidden block">
              <img class="transform group-hover:scale-110 transition-transform duration-500 w-full h-full" src="assets/images/blog/blog11.webp" alt="blog image" loading="lazy" width="600" height="400"/>
            </a>
          </div>
          
          <h3><a href="blog-details.html" class="block text-base md:text-md hover:text-orange transition-all font-medium mb-[10px]">Drone nise mnise plkuh</a></h3>
          <div class="blog-meta blog-mrg-border">
            <ul class="pb-[10px]">
                <li class="text-sm"><a href="#" class="text-sm text-dark hover:text-orange transition-all">21 April, 2021</a></li>
            </ul>
          </div>

          <p class="font-normal text-black text-sm mb-[25px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
          <a class="bg-white transition-all hover:bg-orange hover:border-orange hover:text-white text-dark capitalize font-medium text-sm inline-block border border-solid border-gray-300 px-8 py-4 leading-none mb-[10px]" href="blog-details.html">blog details</a>
        
        </div>
      </div>
      <!-- swiper-slide end-->
      <!-- swiper-slide start -->
      <div class="swiper-slide">
        <div class="border border-solid border-gray-300 p-[20px] md:p-[30px] group">
          <div class="mb-6">
            <a href="blog-details.html" class="overflow-hidden block">
              <img class="transform group-hover:scale-110 transition-transform duration-500 w-full h-full" src="assets/images/blog/blog12.webp" alt="blog image" loading="lazy" width="600" height="400"/>
            </a>
          </div>
          
          <h3><a href="blog-details.html" class="block text-base md:text-md hover:text-orange transition-all font-medium mb-[10px]">Onisw dia vansi kanei</a></h3>
          <div class="blog-meta blog-mrg-border">
            <ul class="pb-[10px]">
                <li class="text-sm"><a href="#" class="text-sm text-dark hover:text-orange transition-all">21 April, 2021</a></li>
            </ul>
          </div>

          <p class="font-normal text-black text-sm mb-[25px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...</p>
          <a class="bg-white transition-all hover:bg-orange hover:border-orange hover:text-white text-dark capitalize font-medium text-sm inline-block border border-solid border-gray-300 px-8 py-4 leading-none mb-[10px]" href="blog-details.html">blog details</a>
        </div>
      </div>
      <!-- swiper-slide end-->
        
      </div>
    </div>

    <!-- Add Pagination -->

    <!-- <div class="swiper-pagination"></div> -->

    <!-- swiper navigation -->

        <div class="swiper-buttons">
          <div class="swiper-button-prev right-auto left-2 md:-left-2  w-12 h-12 rounded-full bg-white border border-solid border-gray-600 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
          <div class="swiper-button-next left-auto right-2 md:-right-2  w-12 h-12 rounded-full bg-white border border-solid border-gray-600 text-sm text-dark opacity-100 transition-all hover:text-orange hover:border-orange"></div>
      </div>
  </div>
</section>



