<!-- modal-overlay start -->
<div class="modal-overlay hidden fixed inset-0 bg-black opacity-50 z-30"></div>
<!-- modal-overlay end -->
<!-- modal-mobile-menu start -->
<div id="modal-addto-cart" class="modal fixed opacity-0 transition-opacity duration-300 ease-linear md:w-11/12 md:max-w-1000 hidden z-50 left-8 right-8 md:left-1/2 top-1/2 transform -translate-y-1/2 md:-translate-x-1/2 p-7 bg-white mx-auto">


<div class="md:flex md:flex-wrap">
    <div class="md:mr-5 md:flex-30 mb-5 md:mb-0">
       <img class="w-full" src="assets/images/products/lg/product1.webp" alt="product image" loading="lazy" width="432" height="480">
    </div>
    <div class="md:flex-auto">
        <button class="text-black text-lg absolute top-7 right-7 modal-close"><i class="icon-close"></i></button>
        <h3 class="text-dark font-medium text-md sm:text-lg mb-4">Airpod product kiebd</h3>
        <p class="text-dark text-sm flex flex-wrap items-center"><i class="icon-check text-lg mr-5"></i> Added to cart successfully!</p>
        <div class="mt-8">
            <a href="#" class="bg-black leading-none py-2 px-5 font-normal text-sm text-white transition-all hover:bg-orange mr-5">View Cart</a>
            <a href="#" class="bg-black leading-none py-2 px-5 font-normal text-sm text-white transition-all hover:bg-orange">Checkout</a>
        </div>
    </div>
  </div>

</div>
<!-- modal-mobile-menu end -->

