<ul class="pagination flex flex-wrap items-center justify-center">
    <li class="mx-2">
        <a class="flex flex-wrap items-center justify-center  w-11 h-11 bg-white shadow text-orange leading-none transition-all hover:bg-orange hover:text-white" href="#">
            <i class="icon-arrow-left"></i>
        </a>
    </li>

    <li class="mx-2">
        <a class="flex flex-wrap items-center justify-center  w-11 h-11 bg-white shadow text-orange leading-none transition-all hover:bg-orange hover:text-white active" href="#">1</a>
    </li>
    <li class="mx-2">
        <a class="flex flex-wrap items-center justify-center  w-11 h-11 bg-white shadow text-orange leading-none transition-all hover:bg-orange hover:text-white" href="#">2</a>
    </li>
    <li class="mx-2">
        <a class="flex flex-wrap items-center justify-center  w-11 h-11 bg-white shadow text-orange leading-none transition-all hover:bg-orange hover:text-white" href="#">3</a>
    </li>
    <li class="mx-2">
        <a class="flex flex-wrap items-center justify-center  w-11 h-11 bg-white shadow text-orange leading-none transition-all hover:bg-orange hover:text-white" href="#">
            <i class="icon-arrow-right"></i>
        </a>
    </li>
 </ul>

