<section class="pt-24">
  <div class="container">
    <div class="flex items-center -mx-4 flex-wrap">
        <div class="w-full md:w-1/2 px-4  order-last md:order-first">
            <img class="mt-8 md:mt-0 w-full h-full lg:pr-14 xl:pr-20" src="assets/images/featured-products/product1.webp" alt="product image" loading="lazy" width="512" height="647" />
          </div>

          <div class="w-full md:w-1/2 px-4">
            <h2 class="text-md font-normal text-primary block mb-4">FEATURED PRODUCT</h2>
            <h3 class="font-playfair font-bold text-orange text-[30px] sm:text-[36px] xl:text-[48px] leading-tight mb-5">Minimal Headphone <br />For Music Lover</h3>
            <hr class="w-16 h-1 bg-orange mb-7 border-0">
            <p class="font-normal text-primary text-base xl:text-md">
              When an unknown printer took a galley of type and scrambled it to
              make a type specimen book. sint occaeca Excepteur sint occaecat
              cupidatat non proident.
            </p>
            <a href="single-product.html" class="bg-primary transition-all hover:bg-orange hover:text-white px-5 md:px-12 py-3 md:py-4 xl:py-4 rounded-full text-orange capitalize font-medium text-sm lg:text-md inline-block mt-8 leading-normal">Buy Now</a>
          </div>
    </div>
  </div>
</section>
