<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full xl:max-w-3xl lg:px-10 px-4">
    <h3 class="font-playfair font-bold text-orange text-lg sm:text-4xl lg:text-xl mb-3 md:mb-10">The Right Headphones</h3>
    <p class="font-medium text-white text-base mb-4 md:mb-10">
      In ornare quam viverra orci sagittis. Duis ultricies lacus sed turpis
      tincidunt id aliquet risus. Arcu felis bibendum ut tristique et.
    </p>

    <a href="https://www.youtube.com/watch?v=pONeWAzDsQg" class="inline-block play-vedio"> 
        <img src="assets/images/icon/play.webp" alt="play image" loading="lazy" width="50" height="50"/>
    </a>
  </div>